.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbarCenter {
  flex: 5;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  color: white;
}

.topbarLink {
  margin-right: 10px;
  font-style: 14px;
  cursor: pointer;
  color: #1877f2;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 999;
  display: none;
  justify-content: end;
}

.modal__dialog {
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
  border: 1px solid rgb(231, 228, 228);
  width: 190px;
  height: 125px;
  margin: 26% -10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__dialogg {
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
  border: 1px solid rgb(231, 228, 228);
  width: 200px;
  height: 350px;
  margin: 18% -10%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__dialog img {
  margin-right: 12px;
}

.modal-open {
  display: grid;
}

.modalAvatar {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  color: rgb(26, 19, 19);
  padding: 20px 0;
  cursor: pointer;
  justify-content: center;
  gap: 10px;
}

.modalAvatar:hover {
  background-color: #f1ecec;
}

.avatarName {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  font-weight: 500;
  padding: 20px 0;
  cursor: pointer;
  color: black;
}

.friends {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.friendsImg {
  margin-right: 10px;
}

.friends:hover {
  background-color: #e2dddd;
  width: 50%;
  border-radius: 5px;
}

.modalFriends {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 15px;
  left: 0px;
  z-index: 999;
  display: none;
  justify-content: end;
}

.modal-openFriends {
  display: grid;
}

.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebarFriendd {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebarFriendImg {
  width: 32px;
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}

.sidebarFriendImgg {
  width: 32px;
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}

.sidebarFriendNamee {
  color: black;
}

@media (max-width: 767px) {
  .topbarLinks {
    display: none;
  }
}

@media (max-width: 500px) {
  .searchbar {
    display: flex;
    max-width: 80%;
  }
}
@media (max-width: 400px) {
  .searchbar {
    display: none;
  }
}
